
<div class="container">
  <div class="main_header">
    <h1 class="heading">فروشگاه</h1>
    <div class="select_list_parent">
      <img
        src="assets/icons/chevron_bottom.svg"
        class="select_list_chevron"
        alt="chevron icon"
      />
      <select  *ngIf="false" class="main_select_list">
        <option value="">همه محصولات</option>
        <option value="">دروس اصلی</option>
        <option value="">تم‌کارت</option>
        <option value="">تدریس صوتی</option>
        <option value="">ویژه آزمون وکالت</option>
        <option value="">کارشناسی ارشد</option>
      </select>
    </div>
  </div>

  <div class="card_parent">
    <div *ngFor="let item of shopList" class="card_container">
      <div class="card">
        <img [src]="item.ImageURL" (error)="$event.target.src = '../../../assets/icon/logo.png'" alt="shop image" />
        <h3>{{item.Title}}</h3>
        <p>
          {{item.Description}}
        </p>
      </div>
      <div>
        <div *ngIf="item.SumPrice != 0" class="card_price" style="position: relative" >
                     <span class="price">{{item.SumPrice}}</span>
                      <span class="unit">تومان</span>
                      <ng-container *ngIf="item.DiscountPercent !=  0">

                        <span class="discount">{{item.DiscountPercent}} %</span>
                        <span class="price ">{{item.SumPriceLastDiscount | number}}</span>
                        <div style="
    position: absolute;
    top: 44%;
    left: 34px;
    width: 28%;
    height: 2px;
    background-color: red;
    transform: rotate(-15deg);"></div>


                        <span class="unit">تومان</span>
                      </ng-container>
        </div>

        <ng-container *ngIf="item.ButtonPublishBacket && item.ButtonActiveBacket"  >
          <button (click)="addToBasket(item)" *ngIf="!item.AddedToBasket" class="card_buttons card_primary_button">
            افزودن به سبد خرید

          </button>
          <button  (click)="addToBasket(item)" *ngIf="item.AddedToBasket" class="card_buttons card_primary_button">
            حذف از سبد خرید

          </button>
        </ng-container>

        <ng-container *ngIf="item.ButtonPublishBacket && !item.ButtonActiveBacket"  class="card_buttons card_primary_button">
          <button class="card_buttons card_primary_button">
            قبلا خریداری شده

          </button>
        </ng-container>



        <button *ngIf="item.ButtonPublish1" (click)="setCurrentId(item.ButtonId1)" class="card_buttons card_secondary_button">
          {{item.ButtonTitle1}}
        </button>
        <button *ngIf="item.ButtonPublish2" (click)="setCurrentId(item.ButtonId2)" class="card_buttons card_secondary_button">
          {{item.ButtonTitle2}}
        </button>
      </div>
    </div>

  </div>
</div>



<!-- basket buy -->


<div (click)="openBasket()" style="position: fixed;bottom: 40px;left: 40px;">

  <div style="background: #e3ecf4;padding-right:12px;border:1px solid #2970b0;width: 135px;height: 50px;border-radius: 10px;position: relative;display: flex;align-items: center">

    <p> سبد خرید ({{basketSize}})</p>

    <div style="position: absolute;left:-15px;justify-content: center;background-color: #458ccc;border:1px solid #2970b0;border-radius: 50%;width: 50px;height: 50px;display: flex;align-items: center;">

      <img src="assets/icon/shopping-basket.png" height="35px" width="35px">

    </div>
  </div>

</div>


