
<div class="container">
  <div class="main_header">
    <h1 class="heading">فروشگاه</h1>
    <div class="select_list_parent">
      <img
        src="assets/icons/chevron_bottom.svg"
        class="select_list_chevron"
        alt="chevron icon"
      />
      <select  *ngIf="false" class="main_select_list">
        <option value="">همه محصولات</option>
        <option value="">دروس اصلی</option>
        <option value="">تم‌کارت</option>
        <option value="">تدریس صوتی</option>
        <option value="">ویژه آزمون وکالت</option>
        <option value="">کارشناسی ارشد</option>
      </select>
    </div>
  </div>

  <div class="card_parent">
    <div *ngFor="let item of shopList" class="card_container">
      <div class="card">
        <img [src]="item.ImageURL" alt="shop image" />
        <h3>{{item.Title}}</h3>
        <p>
          {{item.Description}}
        </p>
      </div>
      <div>
        <div class="card_price">
                     <span class="price">۸۶۰۰۰</span
                     ><span class="unit">تومان</span>
        </div>
        <button class="card_buttons card_primary_button">
          افزودن به سبد خرید
        </button>
        <button class="card_buttons card_secondary_button">
          خرید تک درس
        </button>
      </div>
    </div>

  </div>
</div>



<!-- basket buy -->


<div style="position: fixed;bottom: 40px;left: 40px;">

  <div style="background: #e3ecf4;padding-right:12px;border:1px solid #2970b0;width: 135px;height: 50px;border-radius: 10px;position: relative;display: flex;align-items: center">

    <p>سبد خرید({{0}})</p>

    <div style="position: absolute;left:-15px;justify-content: center;background-color: #458ccc;border:1px solid #2970b0;border-radius: 50%;width: 50px;height: 50px;display: flex;align-items: center;">

      <img src="assets/icon/shopping-basket.png" height="35px" width="35px">

    </div>
  </div>

</div>
