
<div class="container">
  <div class="container__header header">
    <h1 class="header__h1">تست‌های من</h1>
    <div class="header__filter filter">
                    <span class="filter__items items">
                        <input
                          type="checkbox"
                          id="plane"
                          class="items__checkbox"
                        />
                        <label for="plane" class="items__label"
                        >برنامه‌ریزی</label
                        >
                    </span>
      <span class="filter__items items">
                        <input
                          type="checkbox"
                          id="testing"
                          class="items__checkbox"
                        />
                        <label for="testing" class="items__label"
                        >تست‌زنی نامرتب</label
                        >
                    </span>
    </div>
  </div>

  <div class="container__card-container card-container">
    <div class="card-container__card card">
      <div class="title-card title-card--green">
        <h2 class="title-card__h2">
          متون فقه<br />(تحریر امام خمینی)
        </h2>
      </div>
      <div class="card__content content-card">
                        <span class="content-card__text"
                        ><span class="text-number">۷</span>
                            <span class="text-unit">بسته</span></span
                        >
        <span class="content-card__text"
        ><span class="text-number">۵۱۳</span>
                            <span class="text-unit">تست</span></span
        >
      </div>
    </div>

    <div class="card-container__card card">
      <div class="title-card title-card--blue">
        <h2 class="title-card__h2">آیین دادرسی کیفری</h2>
      </div>
      <div class="card__content content-card">
                        <span class="content-card__text"
                        ><span class="text-number">۱۴</span>
                            <span class="text-unit">بسته</span></span
                        >
        <span class="content-card__text"
        ><span class="text-number">۱۰۷</span>
                            <span class="text-unit">تست</span></span
        >
      </div>
    </div>

    <div class="card-container__card card">
      <div class="title-card title-card--purple">
        <h2 class="title-card__h2">آیین دادرسی مدنی</h2>
      </div>
      <div class="card__content content-card">
                        <span class="content-card__text"
                        ><span class="text-number">۲۷</span>
                            <span class="text-unit">بسته</span></span
                        >
        <span class="content-card__text"
        ><span class="text-number">۱۰۳۴</span>
                            <span class="text-unit">تست</span></span
        >
      </div>
    </div>

    <div class="card-container__card card">
      <div class="title-card title-card--green">
        <h2 class="title-card__h2">
          متون فقه<br />(تحریر امام خمینی)
        </h2>
      </div>
      <div class="card__content content-card">
                        <span class="content-card__text"
                        ><span class="text-number">۷</span>
                            <span class="text-unit">بسته</span></span
                        >
        <span class="content-card__text"
        ><span class="text-number">۵۱۳</span>
                            <span class="text-unit">تست</span></span
        >
      </div>
    </div>
  </div>
</div>
