
<div class="container">
  <!-- resolve tab -->
<!--
  <div class="test__tab">
    <button href="#" class="back__button">
      <img
        src="../../../assets/icon/back.svg"
        class="back__icon"
        alt="back"
      />
    </button>
    <h2 class="tab__heading">پاسخ تشریحی</h2>
    <div class="tab__content">
      <p class="resolve__paragraph">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
        با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
        مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
        تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
        کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
        آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
        افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
        طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
        صورت می توان امید داشت که تمام و دشواری موجود در ارائه
        راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
        حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای
        موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن
        ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
        <br />طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
        نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
        کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
        جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را
        برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو
        در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام
        و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
        رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
        سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
        گیرد.
      </p>
    </div>
  </div>
-->

  <!-- rules tab -->
  <div class="test__tab rules__tab">
    <button (click)="closeBottomSheet()" class="back__button">
      <img
        src="../../../assets/icon/back.svg"
        class="back__icon"
        alt="back"
      />
    </button>
    <h2 class="tab__heading">قوانین مرتبط</h2>
    <div class="tab__content">
      <section  *ngFor ="let law of Rules" class="rulesTab__section">
        <h3 class="rulesTab__heading">{{law.Title}}</h3>
        <p class="rulesTab__paragraph">
          {{law.Description}}
        </p>
        <button  *ngIf="law.My" class="rulesTab__button remove" (click)="setLaw(law.Id , false)"> حذف از قوانین من</button>
        <button *ngIf="!law.My" class="rulesTab__button" (click)="setLaw(law.Id,true)">افرودن به قوانین من</button>
      </section>
    </div>
  </div>
</div>
