

<div class="container" style="min-width: 100%;padding-bottom: 75px;">
  <form class="sign-up" [formGroup]="formGroup" (submit)="login()">
    <div class="logo">
      <img *ngIf="false" alt="Tikdad">
    </div>
    <input  formControlName="username" type="text" placeholder="ایمیل ، شماره موبایل">
    <input  formControlName="password" type="password" placeholder="رمز عبور">
    <!--    <div class="remember">
          <input type="checkbox" id="remember">
    &lt;!&ndash;
          <label for="remember">مرا به‌خاطر بسپار</label>
    &ndash;&gt;
        </div>-->
    <button class="submit-btn">ورود</button>
     <div class="question">
       <span>حساب کاربری ندارید؟</span>
       <a href="#">ثبت‌نام کنید.</a>
     </div>
  </form>
</div>
