<div class="backdrop " [class.backdrop__moreSidebar--active]="showSideBar" (clickOutside)="changeShowSideBar()">
  <div class="sidebar moreSidebar" (clickOutside)="changeShowSideBar()">
    <p class="moreSidebar__heading">محمد‌مهدی مصطفایی</p>

    <ul class="sidebarList">
      <li class="sidebarList__li moreSidebar__item">
        <a href="#" class="sidebarList__link">
                     <span class="sidebarList__icon--messages">
                        <img
                          class="sidebarList__icon"
                          src="../../../assets/icon/messages.svg"
                        />
                     </span>
          <span class="sidebarList__text">پیام‌ها</span></a
        >
      </li>
      <li class="sidebarList__li moreSidebar__item">
        <a href="#" class="sidebarList__link">
                     <span class="sidebarList__icon--shop">
                        <div class="shop__badge">۳</div>
                        <img
                          class="sidebarList__icon"
                          src="../../../assets/icon/shop.svg"
                        />
                     </span>
          <span class="sidebarList__text">فروشگاه</span></a
        >
      </li>
      <li class="sidebarList__li moreSidebar__item">
        <a href="#" class="sidebarList__link">
          <img
            class="sidebarList__icon"
            src="../../../assets/icon/play.png"
          />
          <span class="sidebarList__text">فیلم‌های آموزشی</span></a
        >
      </li>
      <li class="sidebarList__li moreSidebar__item">
        <a href="#" class="sidebarList__link">
          <img
            class="sidebarList__icon"
            src="../../../assets/icon/search.png"
          />
          <span class="sidebarList__text">تست یاب</span></a
        >
      </li>
      <li class="sidebarList__li moreSidebar__item">
        <a href="#" class="sidebarList__link">
          <img
            class="sidebarList__icon"
            src="../../../assets/icon/topUsers.svg"
          />
          <span class="sidebarList__text">کاربران برتر</span></a
        >
      </li>
      <li class="sidebarList__li moreSidebar__item">
        <a href="#" class="sidebarList__link">
          <img
            class="sidebarList__icon"
            src="../../../assets/icon/support.png"
          />
          <span class="sidebarList__text">پشتیبانی</span></a
        >
      </li>
    </ul>
  </div>
</div>
