

<!-- backdrop--active -->
<div class="backdrop " [class.backdrop--active]="showSideBar" >
  <div class="sidebar" (clickOutside)="changeShowSideBar()">
    <a href="#" class="sidebar__logo"
    ><img
      src="assets/images/logo.png"
      class="sidebar__logo__img"
      alt="logo"
    /></a>

    <ul class="sidebarList">
      <li class="sidebarList__li">
        <a href="#" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/checked-checkbox.png"
        />
          <span class="sidebarList__text">تست‌های من</span></a
        >
      </li>
      <li class="sidebarList__li">
        <a href="main/summery" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/checklist.svg"
        />
          <span class="sidebarList__text">خلاصه‌های طلایی</span></a
        >
      </li>
      <li class="sidebarList__li">
        <a href="main/law" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/Rules.png"
        />
          <span class="sidebarList__text">قوانین من</span></a
        >
      </li>
      <li class="sidebarList__li">
        <a href="#" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/save.png"
        />
          <span class="sidebarList__text">نشانه‌گذاری‌ها</span></a
        >
      </li>
      <li class="sidebarList__li">
        <a href="#" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/analyse.svg"
        />
          <span class="sidebarList__text">تحلیل و آنالیز‌</span></a
        >
      </li>
      <li class="sidebarList__li">
        <a
          href="#"
          class="sidebarList__link sidebarList__link--border"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/question.png"
        />
          <span class="sidebarList__text"
          >آزمون‌های آزمایشی آنلاین</span
          ></a
        >
      </li>
      <li class="sidebarList__li">
        <a href="#" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/user.svg"
        />
          <span class="sidebarList__text">پروفایل کاربری</span></a
        >
      </li>
      <li class="sidebarList__li">
        <a href="#" class="sidebarList__link"
        ><img
          class="sidebarList__icon"
          src="../../../assets/icon/settings.png"
        />
          <span class="sidebarList__text">تنظیمات</span></a
        >
      </li>
    </ul>
  </div>
</div>

<!-- backdrop__moreSidebar--active -->
