<div class="backdrop">
  <div class="modal_container">
    <h2 class="modal_heading">ماده ۱۷ قانون مدنی</h2>
    <p class="modal_text">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
      استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
      در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
      نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
      کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.
    </p>
    <button class="modal_button">خوندم!</button>
  </div>
</div>
