<div class="container">
  <div class="main_header">
    <h1 class="heading">خلاصه‌های <span>طلایی</span></h1>
=  </div>

  <div class="items_container">
    <div class="summary_item" *ngFor="let item of summeryList">
      <div class="summary_header">
        <h2 class="summary_heading">{{item.Id}}</h2>
        <div>
          <button>
            <img
              class="text_message_icon"
              src="assets/icon/text_message.svg"
              alt="text message icon"
            />
          </button>
          <button>
            <img
              src="assets/icon/delete-summury.svg"
              class="delete_icon"
              alt="delete icon"
            />
          </button>

        </div>
      </div>
      <div class="summary_body">
        <p class="summary_body_text" #paragraphElement (click)="clickLaw($event,item)" [innerHTML]="item.Summary">
       <!--   اجاره‌بهای اموال غیر‌منقول طبق
          <mark>طبق ماده ۲۰ قانون مدنی</mark> در حکم مال منقول
          می‌باشد.-->
        </p>


  <!--      <p class="summary_body_text" >
             اجاره‌بهای اموال غیر‌منقول طبق
             <mark>طبق ماده ۲۰ قانون مدنی</mark> در حکم مال منقول
             می‌باشد.
        </p>-->
        <div class="summary_note_container">
          <div class="summary_note_body">
            <h3 class="summary_note_heading">یادداشت:</h3>
            <p>
              مرتبط است با قانون 42 مدنی در رابطه با خصوصی سازی.
            </p>
          </div>
        </div>
      </div>
    </div>

<!--
    <div class="summary_item">
      <div class="summary_header">
        <h2 class="summary_heading">خلاصه طلایی</h2>
        <div>
          <button>
            <img
              class="text_message_icon"
              src="assets/icon/text_message.svg"
              alt="text message icon"
            />
          </button>
          <button>
            <img
              src="assets/icon/delete-summury.svg"
              class="delete_icon"
              alt="delete icon"
            />
          </button>
        </div>
      </div>
      <div class="summary_body">
        <p class="summary_body_text">
          اجاره‌بهای اموال غیر‌منقول طبق
          <mark>طبق ماده ۲۰ قانون مدنی</mark> در حکم مال منقول
          می‌باشد.
        </p>
      </div>
    </div>
-->

  </div>
</div>

<!-- modal--active -->
<div *ngIf="false" class="backdrop">
  <div class="modal_container">
    <h2 class="modal_heading">ماده ۱۷ قانون مدنی</h2>
    <p class="modal_text">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
      استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
      در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
      نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
      کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.
    </p>
    <button class="modal_button">خوندم!</button>
  </div>
</div>
"Summary": "  با توجه به مفهوم
<a title='هیچکس نمی تواند طرق و شوارع عامه و کوچه هایی را که آخر آنها مسدود نیست تملک نماید.'>
  ماده 24 قانون مدنی</a> کوچه های بن بست جزء اموال عمومی به حساب نمی آیند."



