
<ng-container *ngIf="questionItem">

  <div class="test__topSection" style="font-family: yekanNum">

    <div class="test__navigation" *ngIf="configForLitner">
    <span class="navigation__item"> {{questionItem.CategotyTitle}} </span>
    <span class="navigation__separate">&#xbb;</span>
    <span class="navigation__item"> {{questionItem.ProductTitle}} </span>
  </div>

    <div class="test__navigation" *ngIf="!configForLitner">
      <span class="navigation__item"> تست های تثبیتی </span>
    </div>
  <!--<p class="test__counter">تست <span>{{findIndexList()}}</span> از <span>{{allCountTest}}</span></p>-->
  <p  *ngIf="configForLitner" class="test__counter">باقی مانده <span>{{allCountTest}}</span></p>
</div>

<!-- end__test -->
<div class="container" [class.end__test]="finishQuestion" style="font-family: yekanNum">

  <div class="test__tools">

    <div class="tools__rightBox">
      <button (click)="setBookMark(questionItem.Id ,!questionItem.Favorite)">
        <img *ngIf="!questionItem.Favorite"
          src="../../../assets/icon/save.svg"
          alt="save"
          class="tools__icon tools__saveIcon"
        />
        <img
          *ngIf="questionItem.Favorite"
          src="../../../assets/icon/bookmark.svg"
          alt="save"
          class="tools__icon tools__saveIcon"
        />
      </button>
      <button class="support__icon" (click)="openSendTicket()">
        <svg xmlns="http://www.w3.org/2000/svg"
             height="40px"
             viewBox="0 -960 960 960"
             width="40px"
             fill="#3167bf">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M440-120v-80h320v-284q0-117-81.5-198.5T480-764q-117 0-198.5 81.5T200-484v244h-40q-33 0-56.5-23.5T80-320v-80q0-21 10.5-39.5T120-469l3-53q8-68 39.5-126t79-101q47.5-43 109-67T480-840q68 0 129 24t109 66.5Q766-707 797-649t40 126l3 52q19 9 29.5 27t10.5 38v92q0 20-10.5 38T840-249v49q0 33-23.5 56.5T760-120H440Zm-80-280q-17 0-28.5-11.5T320-440q0-17 11.5-28.5T360-480q17 0 28.5 11.5T400-440q0 17-11.5 28.5T360-400Zm240 0q-17 0-28.5-11.5T560-440q0-17 11.5-28.5T600-480q17 0 28.5 11.5T640-440q0 17-11.5 28.5T600-400Zm-359-62q-7-106 64-182t177-76q89 0 156.5 56.5T720-519q-91-1-167.5-49T435-698q-16 80-67.5 142.5T241-462Z"/>
        </svg>
      </button>
    </div>
    <div *ngIf="configForLitner" class="tools__stopwatch">
      <span>{{timer}}</span>
      <img
        src="../../../assets/icon/stopwatch.svg"
        alt="stopwatch"
        class="tools__icon--stopwatch"
      />
    </div>
  </div>

  <div class="test__container ">

    <h2 class="test__heading">{{questionItem.Question}}{{questionItem.Id}}</h2>

    <div class="test__form">

      <label for="optionA" #choiceA id="choiceA" class="test__label" >

        <input
          type="radio"
          class="test__checkbox"
          name="test"
          id="optionA"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceA,choiceAElement)">
          <div class="option__alphabet checked-alphabet__false">
            الف</div>
          <p class="option__text">
            {{questionItem.ChoiceA.text}}
          </p>
        </div>
      </label>
      <label for="optionB"   #choiceB  id="choiceB" class="test__label" >
        <input
          type="radio"
          class="test__checkbox"
          name="test"
          id="optionB"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceB,choiceBElement)">
          <div class="option__alphabet checked-alphabet__false">
            ب
          </div>
          <p class="option__text">
            {{questionItem.ChoiceB.text}}
          </p>
        </div>
      </label>
      <label for="optionC"  #choiceC id="choiceC" class="test__label" >
        <input
          type="radio"
          class="test__checkbox"
          name="test"
          id="optionC"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceC,choiceCElement)">
          <div class="option__alphabet checked-alphabet__false">
            ج</div>
          <p class="option__text">
            {{questionItem.ChoiceC.text}}
          </p>
        </div>
      </label>
      <label for="optionD" #choiceD id="choiceD" class="test__label" >
        <input
          type="radio"
          class="test__checkbox"
          name="test"

          id="optionD"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceD ,choiceDElement)">
          <div class="option__alphabet checked-alphabet__false">
            د</div>
          <p class="option__text">
            {{questionItem.ChoiceD.text}}
          </p>
        </div>
      </label>
      <div class="form__buttons" >
        <button
          [class.lawButtonDisable]="questionItem.laws.length==0"
          (click)="showLawReleated()"
          class="rules__button commonStyle__formButton end__buttons"
        >
          قوانین مرتبط
        </button>
        <button
          (click)="showAnswerBottomSheet()"

          class="resolve__button commonStyle__formButton end__buttons"
        >
          پاسخ تشریحی
        </button>
        <button (click)="nextQuestion()" class="form__submit commonStyle__formButton">
          سوال بعدی <span class="button__chevron">&#8250;</span>
        </button>
      </div>
    </div>
  </div>
</div>
</ng-container>
