
<ng-container *ngIf="questionItem">

  <div class="test__topSection">

    <div class="test__navigation" *ngIf="configForLitner">
    <span class="navigation__item"> {{questionItem.CategotyTitle}} </span>
    <span class="navigation__separate">&#xbb;</span>
    <span class="navigation__item"> {{questionItem.ProductTitle}} </span>
  </div>

    <div class="test__navigation" *ngIf="!configForLitner">
      <span class="navigation__item"> تست های تثبیتی </span>
    </div>
  <!--<p class="test__counter">تست <span>{{findIndexList()}}</span> از <span>{{allCountTest}}</span></p>-->
  <p  *ngIf="configForLitner" class="test__counter">باقی مانده<span>{{allCountTest}}</span></p>
</div>

<!-- end__test -->
<div class="container" [class.end__test]="finishQuestion">

  <div class="test__tools">

    <div class="tools__rightBox">
      <button (click)="setBookMark(questionItem.Id ,!questionItem.Favorite)">
        <img *ngIf="!questionItem.Favorite"
          src="../../../assets/icon/save.svg"
          alt="save"
          class="tools__icon tools__saveIcon"
        />
        <img
          *ngIf="questionItem.Favorite"
          src="../../../assets/icon/bookmark.svg"
          alt="save"
          class="tools__icon tools__saveIcon"
        />
      </button>
      <button>
        <img
          src="../../../assets/icon/Rules.png"
          alt="rules"
          class="tools__icon"
        />
      </button>
    </div>
    <div *ngIf="configForLitner" class="tools__stopwatch">
      <span>{{timer}}</span>
      <img
        src="../../../assets/icon/stopwatch.svg"
        alt="stopwatch"
        class="tools__icon--stopwatch"
      />
    </div>
  </div>

  <div class="test__container ">

    <h2 class="test__heading">{{questionItem.Question}}{{questionItem.Id}}</h2>

    <div class="test__form">

      <label for="optionA" #choiceA id="choiceA" class="test__label" >

        <input
          type="radio"
          class="test__checkbox"
          name="test"
          id="optionA"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceA,choiceAElement)">
          <div class="option__alphabet checked-alphabet__false">
            الف</div>
          <p class="option__text">
            {{questionItem.ChoiceA.text}}
          </p>
        </div>
      </label>
      <label for="optionB"   #choiceB  id="choiceB" class="test__label" >
        <input
          type="radio"
          class="test__checkbox"
          name="test"
          id="optionB"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceB,choiceBElement)">
          <div class="option__alphabet checked-alphabet__false">
            ب
          </div>
          <p class="option__text">
            {{questionItem.ChoiceB.text}}
          </p>
        </div>
      </label>
      <label for="optionC"  #choiceC id="choiceC" class="test__label" >
        <input
          type="radio"
          class="test__checkbox"
          name="test"
          id="optionC"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceC,choiceCElement)">
          <div class="option__alphabet checked-alphabet__false">
            ج</div>
          <p class="option__text">
            {{questionItem.ChoiceC.text}}
          </p>
        </div>
      </label>
      <label for="optionD" #choiceD id="choiceD" class="test__label" >
        <input
          type="radio"
          class="test__checkbox"
          name="test"

          id="optionD"
        />
        <div class="test__option checkedOption__false" (click)="clickChoice(questionItem.ChoiceD ,choiceDElement)">
          <div class="option__alphabet checked-alphabet__false">
            د</div>
          <p class="option__text">
            {{questionItem.ChoiceD.text}}
          </p>
        </div>
      </label>
      <div class="form__buttons" >
        <button
          [class.lawButtonDisable]="questionItem.laws.length==0"
          (click)="showLawReleated()"
          class="rules__button commonStyle__formButton end__buttons"
        >
          قوانین مرتبط
        </button>
        <button
          (click)="showAnswerBottomSheet()"

          class="resolve__button commonStyle__formButton end__buttons"
        >
          پاسخ تشریحی
        </button>
        <button (click)="nextQuestion()" class="form__submit commonStyle__formButton">
          سوال بعدی <span class="button__chevron">&#8250;</span>
        </button>
      </div>
    </div>
  </div>
</div>
</ng-container>
