<app-right-side-bar [(showSideBar)]="showRightSideBar"></app-right-side-bar>
<app-left-side-bar [(showSideBar)]="showLeftSideBar"></app-left-side-bar>

<div class="header">
  <div class="toolbar">
    <button class="toolbar__menu-btn menu-button" (click)="openRightSideBar($event)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 menu-button__icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>

    <a href="" class="toolbar__logo logo">
      <img
        src="../../../assets/icon/logo.png"
        alt="Tikdad"
        class="logo__img"
      />
    </a>

    <form
      class="toolbar__search-field search-field"
      name="search-field"
      id="search-field"
    >
      <input
        type="text"
        placeholder="جست‌و‌جو در سوالات"
        class="search-field__input"
      />
      <button
        type="submit"
        class="search-field__button search-btn"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 search-btn__icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </button>
    </form>

    <nav class="toolbar__navbar navbar">
      <ul class="navbar__ul navbar-list">
        <li class="navbar-list__li">
          <a href="main/support" class="navbar-link">
            <svg xmlns="http://www.w3.org/2000/svg"
                 height="27px"
                 viewBox="0 -960 960 960"
                 width="27px"
                 fill="#e8eaed">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M440-120v-80h320v-284q0-117-81.5-198.5T480-764q-117 0-198.5 81.5T200-484v244h-40q-33 0-56.5-23.5T80-320v-80q0-21 10.5-39.5T120-469l3-53q8-68 39.5-126t79-101q47.5-43 109-67T480-840q68 0 129 24t109 66.5Q766-707 797-649t40 126l3 52q19 9 29.5 27t10.5 38v92q0 20-10.5 38T840-249v49q0 33-23.5 56.5T760-120H440Zm-80-280q-17 0-28.5-11.5T320-440q0-17 11.5-28.5T360-480q17 0 28.5 11.5T400-440q0 17-11.5 28.5T360-400Zm240 0q-17 0-28.5-11.5T560-440q0-17 11.5-28.5T600-480q17 0 28.5 11.5T640-440q0 17-11.5 28.5T600-400Zm-359-62q-7-106 64-182t177-76q89 0 156.5 56.5T720-519q-91-1-167.5-49T435-698q-16 80-67.5 142.5T241-462Z"/>
            </svg>
            <span class="navbar-link__span">پشتیبانی</span>
          </a>
        </li>

        <li class="navbar-list__li">
          <a href="#" class="navbar-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 navbar-link__icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"
              />
            </svg>
            <span class="navbar-link__span"
            >کاربران برتر</span
            >
          </a>
        </li>

        <li class="navbar-list__li navbar-list__li--shopping">
          <a href="main/shop" class="navbar-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 navbar-link__icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
              />
            </svg>
            <span class="navbar-link__span">فروشگاه</span>
          </a>
        </li>

        <li class="navbar-list__li navbar-list__li--massage" style="position: relative">

          <div style="
background-color: red;
    width: 25px;
    height: 25px;
    font-size: 13px;
    border-radius: 50%;
    position: absolute;
     text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    top: -10px;
">
            {{countMessage}}
          </div>
          <a href="#" class="navbar-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 navbar-link__icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              />
            </svg>
            <span class="navbar-link__span">پیام‌ها</span>
          </a>
        </li>

        <li class="navbar-list__li">
          <a href="#" class="navbar-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 navbar-link__icon navbar-link__icon--user"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
            <span
              class="navbar-link__span navbar-link__span--user"
            >{{fullUserName}}</span
            >
          </a>
        </li>
      </ul>
    </nav>

    <button class="toolbar__more" (click)="openLeftSideBar($event)">
      <img
        src="../../../assets/icon/icons8-more-50.png"
        alt="more icon"
      />
    </button>
  </div>
</div>


