
<div class="continer">
  <div class="heder">
    <div class="parts1" *ngIf="false">
      <a href="support.html" class="support" id="support">پشتیبانی</a>
      <a class="support">پاسخ ها</a>
    </div>
    <div class="box">
      <div class="main" *ngFor="let item of [1,2,3,4,5,6]">
        <div class="information">
          <span class="content">حقوق مدنی</span>
          <span class="baste">بسته 31</span>
          <span class="test">تست 4762</span>
          <span class="displaydate">1403/06/18</span>
        </div>
        <div class="viewdaate">
          <span class="date">1403/06/18</span>
          <button class="viewtest">مشاهده تست</button>
        </div>
        <div class="questionanswer" #itemQuestionAnswer>
          <div class="question"><p class="questiontext">نباید در انتهای پاسخ «به اتفاق همه شرکاء»باشه؟ چون طبق ماده 6 اگر اتفاق توافقی نباشه ملاک با اکثریت هست و تنها در این صورت صحیح میشه.</p>
            <svg width="30px" (click)="closeOpenAnswer(itemQuestionAnswer)" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(90)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.5 5L15.5 12L8.5 19" stroke="#3568A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          </div>
          <div class="answer"><p class="answertext">سلام و احترام .<br>حق با شماست پاسخ صحیح اصلاح شد. با تشکر از پیام شما.</p></div>
        </div>
      </div>

    </div>
  </div>
</div>
