/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: iranRegular;
  src: url('/assets/font/Webfonts/Woff/IRANYekanX-Regular.woff');
}
@font-face {
  font-family: iranBlack;
  src: url('/assets/font/Webfonts/Woff/IRANYekanX-Black.woff');
}

@font-face {
  font-family: yekanNum;
  src: url('/assets/font/Webfonts/YekanBakhFaNum-VF.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {

  background: #3167bf;
  border-radius: 10px;
}

.custom-container .mat-dialog-container {
  border-radius: 20px !important;
}
