<div class="main">


  <div *ngIf ="false" style="border-radius: 50%; width: 50px;border: 1px solid blue">
    <img src="assets/icon/logo.png" width="50px">
  </div>

  <div class="table">

    <div class="header">

      <p class="item-header">رتبه</p>
      <p class="item-header">نام</p>
      <p class="item-header">برنامه ریزی</p>
      <p class="item-header">تکرار</p>

    </div>

    <div class="body">

      <div class="row-body" *ngFor="let item of topUserList">
        <p class="item-body"> 25 </p>
        <p class="item-body"> hossein </p>
        <p class="item-body"> planinng </p>
        <p class="item-body"> again </p>

      </div>



    </div>




  </div>





</div>
